{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Resultado do Traceroute</title>
    <link rel="stylesheet" type="text/css" href="{% static 'projredesapp/css/styles.css' %}">
</head>
<body>
    <h1>Resultado do Traceroute:</h1>
    <table>
        <caption>Tabela TTL - Ip</caption>
        <thead>
          <tr>
            <th>TTL </th>
            <th>RTT's</th>
            <th>Ip Address</th>
          </tr>
        </thead>
        <tbody>
          {% for row in tdata %}
          <tr>
            <td>{{ row.hops}}</td>
            <td>{{ row.sched}}</td>
            <td>{{ row.addr}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
      <br>
      <img src="{% static 'C:/Users/franc/OneDrive/Área de Trabalho/projrede/projredes/static/projredesapp/images/graph.png' %}" alt="Grafico do Traceroute - RTTs e Hops" width="600" height="600">
      <br>
      <br>
      <table>
        <caption>Tabela min, max e media - RTT</caption>
        <thead>
          <tr>
            <th>MIN </th>
            <th>MAX</th>
            <th>MEDIA</th>
          </tr>
        </thead>
        <tbody>
          {% for item in tinfo %}
          <tr>
            <td>{{ item }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
      <br>
</body>
</html>
